.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/faculty.png);
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    width: 100%;
}
.wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(3px); 
    border-radius: 10px;
    text-align: center;
    border: 3px solid rgb(255, 254, 254);
}

input{
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}
input:focus{
    outline: none;
    font-weight: bolder;
    font-size: 20px;
}
button:hover{
    font-weight: bolder;
    font-size: 20px;
}
button{
    background-color: rgb(5, 175, 175);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color:aliceblue;
    cursor: pointer;
}
